:root{
    --color--black: #000000;
    --color--green: #2c6d14;
    --color--white: #ffffff;
    --color--background: #fbfbfb;
    --color--red: #ca0101;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
    margin-right: 2px!important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color--green);
    margin-right: 2px!important;
    border-radius: 5px;
}

@keyframes AnimationSeta {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(15px);
    }
}


/* From Uiverse.io by adeladel522 */ 
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: var(--color--green);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  